html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background-color: pink;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.banner {
  text-align: center;
}

.open-house-list {
  width: 100%;
}

.open-house {
  width: 20%;
  padding: 1%;
  float: left;
}

.open-house-image {
  width: 100%;
  height: 32vh;
  background-color: #fff;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.open-house-image:hover{
  border: 2px solid red; 
  cursor: pointer;
}